// =================================================
// Default Colors
// =================================================

// Brand Colors
$color-green: #9eba00;

// Grays
$black: #000;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$white: #fff;

// Background Colors
$base-background-color: #efeee9;
$secondary-background-color : #f6f6f6;
$tertiary-background-color : #444444;
//$quaternary-background-color : #;

// Brand
$base-brand-color: $color-green;
$secondary-brand-color: #373b37;
$tertiary-brand-color: #e0e0e0;

// Font Colors
$base-font-color: #373b37;
$secondary-font-color: $base-background-color;
$tertiary-font-color: $white;

// =================================================
// Paths 
// =================================================
$path-images: '../assets/images/';
$path-fonts: '../assets/fonts/';

// =================================================
// Fonts
// =================================================

// Font familys
$oswald: 'Oswald', sans-serif;
$roboto: 'Roboto', sans-serif;

// Text
$base-font-family: $roboto;
$base-font-weight: 400;
$light-font-weight: 300;
$medium-font-weight: 500;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-name: 'base';

// Small Text
$small-font-size: $base-font-size - 2px;
$small-font-name: 'small';

// Large Text
$large-font-size: $base-font-size + 2px;
$large-font-name: 'large';

// Text
$heading-font-weight: 400;
$heading-font-family: $oswald;
$heading-font-size: 26px;
$heading-line-height: 1.2;
$heading-text-transform: none;
$heading-font-name: 'heading';
$heading-light-font-weight: 300;
$heading-bold-font-weight: 700;

// h1
$h1-font-size: 40px;
$h1-font-size-lg: 38px;
$h1-font-size-md: 36px;
$h1-font-size-sm: 34px;

// h2
$h2-font-size: $h1-font-size - 4px;
$h2-font-size-lg: $h1-font-size-lg - 4px;
$h2-font-size-md: $h1-font-size-md - 4px;
$h2-font-size-sm: $h1-font-size-sm - 4px;

// h3
$h3-font-size: $h1-font-size - 8px;
$h3-font-size-lg: $h1-font-size-lg - 8px;
$h3-font-size-md: $h1-font-size-md - 8px;
$h3-font-size-sm: $h1-font-size-sm - 8px;

// h4
$h4-font-size: $h1-font-size - 12px;
$h4-font-size-lg: $h1-font-size-lg - 12px;
$h4-font-size-md: $h1-font-size-md - 12px;
$h4-font-size-sm: $h1-font-size-sm - 12px;

// h5
$h5-font-size: $h1-font-size - 16px;
$h5-font-size-lg: $h1-font-size-lg - 16px;
$h5-font-size-md: $h1-font-size-md - 16px;
$h5-font-size-sm: $h1-font-size-sm - 16px;

// h6
$h6-font-size: $h1-font-size - 20px;
$h6-font-size-lg: $h1-font-size-lg - 20px;
$h6-font-size-md: $h1-font-size-md - 20px;
$h6-font-size-sm: $h1-font-size-sm - 20px;

// =================================================
// Border
// =================================================

// Border
$base-border-color: #d0d0d0;
$base-border: 1px solid $base-border-color;
$base-border-thickness: 1px;
$base-border-style: solid;
$secondary-border-color : $light-gray;
$secondary-border: 1px solid $secondary-border-color;

// =================================================
// Breakpoints
// =================================================

$breakpoint-xl: 1400px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;
$breakpoint-xs: 320px; 

// =================================================
//Gaps
// =================================================

$gap-xxl: 35px;
$gap-xl: 30px;
$gap-lg: 25px;
$gap: 20px;
$gap-md: 15px;
$gap-sm: 10px;
$gap-xs: 5px;

$gap-triple: $gap * 3;
$gap-double: $gap * 2;
$gap-half: $gap * 0.5;
$gap-none: 0;

// =================================================
// Animation
// =================================================

$base-transition-duration: 0.2s;
$base-transition-timing: linear; 
$base-transition: all $base-transition-duration $base-transition-timing;

// =================================================
// Misc
// =================================================

$base-border-radius : 0;

// =================================================
// Buttons
// =================================================

$button-color: $base-font-color;
$button-background-color: $base-background-color;
$button-border-radius: $base-border-radius;
$button-font-family: $oswald;
$button-font-size: 12px;
$button-font-weight: 600;
$button-line-height: 1;
$button-hover-color: $tertiary-font-color;
$button-hover-background-color: $base-brand-color;
$button-border-color: $base-border-color;
$button-text-transform: uppercase;
$button-font-name: 'button';

 
// =================================================
// Links
// =================================================

$link-color: $base-brand-color;
$link-hover-color: $base-brand-color;
//$link-text-transform: none;
//$link-font-family: $base-font-family;
//$link-font-size: $base-font-size;
//$link-font-weight: $base-font-weight;
//$link-text-decoration: underline;
//$link-font-name: 'link';

// =================================================
// Page section
// =================================================

$page-section-padding: $gap-double;
$page-section-max-width: 1280px;

// =================================================
// Header
// =================================================

$header-background-color: $white;
$header-logo-width: 200px;
$header-bottom-border: none;
$header-color: $base-font-color;
$header-hover-color: $base-brand-color;
$header-submenu-hover-color: $base-brand-color;
$header-text-transform: uppercase;
$header-scrolled-background-color: rgba($header-background-color,0.95);
$header-scrolled-border-bottom: none;
$header-font-size: 14px;

// =================================================
// Footer
// =================================================

$footer-background-color: $tertiary-background-color;
$footer-logo-width: 50%;
$footer-top-border: none; 
$footer-color: $white;
//$header-hover-color: $base-brand-color;
//$footer-text-transform: uppercase;

// =================================================
// Breadcrumb
// =================================================
 
$breadcrumb-padding: 0 0 $gap-double;
$breadcrumb-font-size: $small-font-size;

// =================================================
// Text inputs
// =================================================

$text-input-background-color: $base-background-color;
$text-input-border: $base-border;
$text-input-padding: $gap-sm $gap;

// =================================================
// Side nav
// =================================================

$sidenav-width: 300px;
$sidenav-background-color: $base-background-color;
$sidenav-border-color: $base-border-color;

// =================================================
// Accordion
// =================================================
  
$accordion-border-color: $base-border-color;
$accordion-color: $base-font-color;
$accordion-background-color: $base-background-color;
$accordion-hover-color: $accordion-color;
$accordion-hover-background-color: $accordion-background-color;
$accordion-sub-color: $accordion-color;
$accordion-sub-background-color: $secondary-background-color;
$accordion-sub-hover-color: $accordion-color;
$accordion-sub-hover-background-color: $accordion-sub-background-color;
$accordion-padding: $gap-half $gap;
$accordion-sub-indent: $gap*2;
$accordion-font: 'base';


// =================================================
// Grid 
// =================================================

$grid-gap: $gap-double;

// =================================================
// Icon
// =================================================

$icon-color: $base-font-color;
$icon-background-color: $secondary-background-color;

// =================================================
// Cards
// =================================================

$card-background-color: $secondary-background-color;
$card-overlay-opacity: 0.5;
$card-text-padding-horizontal: $gap-double;
$card-text-padding-vertical: $gap-xl;
$card-secondary-color: $white;
$card-image-min-height: 250px;
$card-image-min-height-sm: 200px;

// =================================================
// Carousel
// =================================================

$carousel-elements-color: $base-font-color;
$carousel-dot-size: 8px;
$carousel-arrow-size: $gap;
$carousel-elements-not-active-opacity: 0.3;

// =================================================
// Slider
// =================================================

$slider-elements-color: $white;
$slider-dot-size: 8px;
$slider-arrow-size: $gap;
$slider-elements-not-active-opacity: 0.5;
$slider-figcaption-background-color: $base-brand-color;
$slider-figcaption-color: $white;
$slider-figcaption-text-transform: uppercase;

// =================================================
// Lightbox
// =================================================

$lightbox-background-color: rgba($tertiary-background-color, 0.8);
$lightbox-color: $white;
$lightbox-icon-color: $white;
$lightbox-icon-disabled-opacity: 0.3;
$lightbox-icon-size: $gap;
$lightbox-top-bar-background-color:rgba($tertiary-background-color, 1);
$lightbox-video-max-width: 1024px;

// =================================================
// Page image
// =================================================

$page-image-text-font-color: $secondary-font-color;
$page-image-text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

// =================================================
// Page body
// =================================================

$page-body-max-width: 800px;

// =================================================
// Cookie
// =================================================

$cookie-background-color: rgba($white, 0.96);