  @font-face {
      font-family: 'icomoon';
      src: url($path-fonts + 'icomoon/icomoon.eot?1amafa');
      src: url($path-fonts + 'icomoon/icomoon.eot?1amafa#iefix') format('embedded-opentype'), url($path-fonts + 'icomoon/icomoon.ttf?1amafa') format('truetype'), url($path-fonts + 'icomoon/icomoon.woff?1amafa') format('woff'), url($path-fonts + 'icomoon/icomoon.svg?1amafa#icomoon') format('svg');
      font-weight: normal;
      font-style: normal;
  }
  /*[class^="icon-"], [class*=" icon-"]*/
  
  .icon {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-circle {
      @include createCircle($background-color: $icon-background-color, $color: $icon-color);
      display: inline-block;
  }
  
  .icon-center {
      @include centerElement();
  }
  
  .icon-home5:before {
      content: "\e904";
  }
  
  .icon-cross2:before {
      content: "\ed6d";
  }
  
  .icon-arrow-right3:before {
      content: "\edbd";
  }
  
  .icon-arrow-right4:before {
      content: "\edbe";
  }
  
  .icon-arrow-left3:before {
      content: "\edc5";
  }
  
  .icon-arrow-left4:before {
      content: "\edc6";
  }
  
  .icon-cog:before {
      content: "\e994";
  }
  
  .icon-heart:before {
      content: "\e9da";
  }
  
  .icon-play3:before {
      content: "\ea1c";
  }
  
  .icon-embed2:before {
      content: "\ea80";
  }
  
  .icon-link:before {
      content: "\e9cb";
  }
  
  .icon-cross:before {
      content: "\ea0f";
  }
  
  .icon-enlarge2:before {
      content: "\e98b";
  }
  
  .icon-search:before {
      content: "\e986";
  }
  
  .icon-facebook:before {
      content: "\ea90";
  }
  
  .icon-instagram:before {
      content: "\ea92";
  }
  
  .icon-twitter:before {
      content: "\ea96";
  }
  
  .icon-arrow-down2:before {
      content: "\ea3e";
  }
