html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    #breadcrumbMenuSubcontrol_context_menu & {
        box-sizing: content-box;
    }
}

html,
body {
    height: 100%;
}

body {
    min-width: $breakpoint-xs;
    background-color: $base-background-color;
}

.page-section {
    position: relative;
    background-color: $base-background-color;
    &.page-body {
        background-color: transparent;
        > .section-container {
            background-color: $base-background-color;
            //margin-top: -$gap-double;
            @include breakpoint($breakpoint-lg) {
                margin-top: 0;
            }
        }
    }
}

.section-container {
    position: relative;
    margin: 0 auto;
    width: auto;
    &:not(.full-width) {
        max-width: $page-section-max-width;
        padding: $page-section-padding;
    }
}
