body {
    color: $base-font-color;
    @include setFont($base-font-name);
    -webkit-font-smoothing: antialiased;
    header,
    footer,
    nav,
    .card {
        @include setTextFormat($heading-font-family, $small-font-size, $heading-font-weight);
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    @include setFont($heading-font-name);
    margin: 0 0 $gap-half;
}

h1,
.h1 {
    //@include setFont($h1-font-name);
    @include setFontSize($h1-font-size);
    @include breakpoint($breakpoint-lg) {
        @include setFontSize($h1-font-size-lg);
    }
    @include breakpoint($breakpoint-md) {
        @include setFontSize($h1-font-size-md);
    }
    @include breakpoint($breakpoint-sm) {
        @include setFontSize($h1-font-size-sm);
    }
}

h2,
.h2 {
    @include setFontSize($h2-font-size);
    @include breakpoint($breakpoint-lg) {
        @include setFontSize($h2-font-size-lg);
    }
    @include breakpoint($breakpoint-md) {
        @include setFontSize($h2-font-size-md);
    }
    @include breakpoint($breakpoint-sm) {
        @include setFontSize($h2-font-size-sm);
    }
}

h3,
.h3 {
    @include setFontSize($h3-font-size);
    @include breakpoint($breakpoint-lg) {
        @include setFontSize($h3-font-size-lg);
    }
    @include breakpoint($breakpoint-md) {
        @include setFontSize($h3-font-size-md);
    }
    @include breakpoint($breakpoint-sm) {
        @include setFontSize($h3-font-size-sm);
    }
}

h4,
.h4 {
    @include setFontSize($h4-font-size);
    @include breakpoint($breakpoint-lg) {
        @include setFontSize($h4-font-size-lg);
    }
    @include breakpoint($breakpoint-md) {
        @include setFontSize($h4-font-size-md);
    }
    @include breakpoint($breakpoint-sm) {
        @include setFontSize($h4-font-size-sm);
    }
}

h5,
.h5 {
    @include setFontSize($h5-font-size);
    @include breakpoint($breakpoint-lg) {
        @include setFontSize($h5-font-size-lg);
    }
    @include breakpoint($breakpoint-md) {
        @include setFontSize($h5-font-size-md);
    }
    @include breakpoint($breakpoint-sm) {
        @include setFontSize($h5-font-size-sm);
    }
}

h6,
.h6 {
    @include setFontSize($h6-font-size);
    @include breakpoint($breakpoint-lg) {
        @include setFontSize($h6-font-size-lg);
    }
    @include breakpoint($breakpoint-md) {
        @include setFontSize($h6-font-size-md);
    }
    @include breakpoint($breakpoint-sm) {
        @include setFontSize($h6-font-size-sm);
    }
}

p {
    margin: 0 0 $gap-half;
}

a,
.link {
    //@include setFont($link-font-name);
    color: $link-color;
    text-decoration: underline;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:active,
    &:hover,
    &:focus {
        outline: none;
    }
    .no-touch & {
        @include transition(color);
        &:hover,
        &.hover {
            color: $link-hover-color;
        }
    }
    &[class^="sc"] {
        //sitecore fix
        color: #2B2B2B !important;
    }
}

hr {
    border-bottom: $base-border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $gap 0;
    &.dashed {
        border-style: dashed;
    }
    &.thick {
        border-width: 4px;
    }
    &.visible-hidden {
        visibility: hidden;
    }
    &.divider {
        margin: 0;
        visibility: hidden;
    }
    &.brand {
        margin: $gap-half 0;
        border-width: 3px;
        width: $gap-double;
        border-color: $base-brand-color;
    }
}

.link-icon {
    display: inline-block;
    line-height: 1;
}

.small {
    @include setFontSize($small-font-size);
}

.large {
    @include setFontSize($large-font-size);
}

.light {
    font-weight: $light-font-weight;
}

@include headings {
    &.light,
    .light {
        font-weight: $heading-bold-font-weight;
    }
}

.bold {
    font-weight: $medium-font-weight;
}

@include headings {
    &.bold,
    .bold {
        font-weight: $heading-bold-font-weight;
    }
}

.title {
    @include setFont($heading-font-name);
    @include setFontSize($h1-font-size);
    margin: 0 0 $gap-half;
    font-weight: $light-font-weight;
    @include setFontSize($h1-font-size);
    @include breakpoint($breakpoint-lg) {
        @include setFontSize($h1-font-size-lg);
    }
    @include breakpoint($breakpoint-md) {
        @include setFontSize($h1-font-size-md);
    }
    @include breakpoint($breakpoint-sm) {
        @include setFontSize($h1-font-size-sm);
    }
}
