.state-indicator {
    position: absolute;
    top: -999em;
    left: -999em;
    z-index: 1;

    @include breakpoint($breakpoint-lg) {
    	z-index: 2;
    }

    @include breakpoint($breakpoint-md) {
    	z-index: 3;
    }

    @include breakpoint($breakpoint-sm) {
    	z-index: 4;
    }
}